---
- name: Pre-validation | Print on screen role execution status.
  ansible.builtin.debug:
    msg:
      - "{{ separator_char * (message_text | length + default_message_padding) | int }}"
      - " {{ message_text }} "
      - "{{ separator_char * (message_text | length + default_message_padding) | int }}"
  vars:
    message_text: "Starting Pre-Validation for Red Hat Support Case Creation"
  run_once: true

- name: Pre-validation | Ensure Red Hat Refresh API Token was provided
  run_once: true
  ansible.builtin.assert:
    that:
      - rh_token_refresh_api_access_token is defined and rh_token_refresh_api_access_token | length > 0
    success_msg: >-
      PASSED! Oh, Yes! => Red Hat Refresh API Token provided, proceeding...
    fail_msg: >-
      FAILED! Oh, No! => rh_token_refresh_api_access_token was NOT provided!
      This token is CRITICAL to authenticate to Red Hat API and create support cases.
      Please provide a valid offline token via extra-vars or survey, and try again.

# --- Begin Account Info Retrieval ---
- name: "Pre-validation | GET '/v1/accounts/current' to retrieve Account infos env - [{{ target_environment | default(target_environment_local) | upper }} "
  ansible.builtin.uri:
    url: "{{ rh_api_base_url | default(rh_base_url_local) }}/support/v1/accounts/current"
    method: GET
    headers:
      Authorization: "Bearer {{ rh_token_refresh_api_access_token }}"
      Accept: "application/json"
    status_code:
      - 200
    return_content: true
    validate_certs: true
    use_proxy: "{{ rh_use_proxy | default(false) }}"
  register: account_info_result
  no_log: "{{ var_no_log | default('true') | bool }}" # <--- To keep sensitive values out of Ansible output logs

  environment:
    https_proxy: "{{ rh_http_proxy }}"
    http_proxy: "{{ rh_http_proxy }}"

- name: "Pre-validation | Set facts for Account Name and Account Number Reference"
  ansible.builtin.set_fact:
    account_name: "{{ account_info_result.json.name | default('N/A') }}"
    account_number_ref: "{{ account_info_result.json.accountNumber | default('N/A') }}"
  run_once: true
# --- End Account Info Retrieval ---

- name: Pre-validation | Assert all mandatory case creation fields are provided
  run_once: true
  ansible.builtin.assert:
    that:
      - vars[item.key] is defined
      - vars[item.key] | string | length > 0
    fail_msg: "FAILED! Oh, No! => Missing mandatory argument: '{{ item.key }}'. This field is required to create a Red Hat support case."
    success_msg: "PASSED! Oh, Yes! => Mandatory field '{{ item.key }}' is defined."
  loop:
    # Only loop through the core user inputs.
    - { key: case_summary }
    - { key: case_product }
    - { key: case_description }
    - { key: case_product_version }
    - { key: case_type }
    - { key: case_severity }

- name: "Pre-validation | Mandatory Case Fields (Minimal JSON)"
  run_once: true
  ansible.builtin.debug:
    msg:
      - "CASE PRE-VALIDATION"
      - "account_name: {{ account_name | default('') | trim }}"
      - "account_number_ref: {{ account_number_ref | default('') | trim }}"
      - "summary: {{ case_summary | default('') | trim }}"
      - "description: {{ case_description | default('') | trim }}"
      - "product: {{ case_product | default('') | trim }}"
      - "version: {{ case_product_version | default('') | trim }}"
      - "type: {{ case_type | default('') | trim }}"
      - "severity: {{ case_severity | default('4 (Low)') | trim }}"
      - "cluster_id: {{ cluster_id | default('N/A') | trim }}"

- name: Pre-validation | Print on screen role pre-validation complete.
  ansible.builtin.debug:
    msg:
      - "{{ separator_char * (message_text | length + default_message_padding) | int }}"
      - " {{ message_text }} "
      - "{{ separator_char * (message_text | length + default_message_padding) | int }}"
  vars:
    message_text: "Pre-Validation for Red Hat Support Case Creation Completed Successfully"
  run_once: true
...
