---
- name: Set facts | Set AAP Gateway URL from environment variable
  when:
    - aap_gateway_url is not defined and lookup('env', 'AAP_GATEWAY_URL') | length > 0
  ansible.builtin.set_fact:
    aap_gateway_url: "{{ lookup('env', 'AAP_GATEWAY_URL') }}"

- name: Set facts | Set AAP Controller URL from environment variable
  when:
    - aap_controller_url is not defined and lookup('env', 'AAP_CONTROLLER_URL') | length > 0
  ansible.builtin.set_fact:
    aap_controller_url: "{{ lookup('env', 'AAP_CONTROLLER_URL') }}"

- name: Set facts | Set AAP Username from environment variable
  when:
    - aap_username is not defined and lookup('env', 'AAP_USERNAME') | length > 0
  ansible.builtin.set_fact:
    aap_username: "{{ lookup('env', 'AAP_USERNAME') }}"

- name: Set facts | Set AAP Password from environment variable
  when:
    - aap_password is not defined and lookup('env', 'AAP_PASSWORD') | length > 0
  ansible.builtin.set_fact:
    aap_password: "{{ lookup('env', 'AAP_PASSWORD') }}"

- name: Set facts | Set AAP Token from environment variable
  when:
    - aap_token is not defined and lookup('env', 'AAP_TOKEN') | length > 0
  ansible.builtin.set_fact:
    aap_token: "{{ lookup('env', 'AAP_TOKEN') }}"

- name: Set facts | Set AAP Validate Certs from environment variable
  when:
    - aap_validate_certs is not defined and lookup('env', 'AAP_VALIDATE_CERTS') | length > 0
  ansible.builtin.set_fact:
    aap_validate_certs: "{{ lookup('env', 'AAP_VALIDATE_CERTS') | default(true) }}"

- name: Set facts | Set AAP Hostname from Gateway or Controller URL
  when:
    - aap_hostname is not defined and lookup('env', 'AAP_GATEWAY_URL') | length > 0
  ansible.builtin.set_fact:
    aap_hostname: "{{ (aap_gateway_url | default(aap_controller_url)) | urlsplit('hostname') }}"
...
