---
- name: Get Token | Set fact to clear token when done
  ansible.builtin.set_fact:
    __clear_token: true
  tags:
    - always

- name: Get Token | Create a new token using gateway username/password
  ansible.platform.token:
    description: 'Temporary token for infra.support_assist operations'
    scope: "write"
    state: present
    aap_hostname: "{{ aap_api_token_aap_hostname }}"
    aap_username: "{{ aap_api_token_aap_username }}"
    aap_password: "{{ aap_api_token_aap_password }}"
    aap_validate_certs: "{{ aap_api_token_aap_validate_certs }}"
  no_log: "{{ aap_api_token_no_log | default(true) | bool }}"
  register: authtoken_res
  changed_when: false
  tags:
    - always

# - name: Debug authtoken_res
#   ansible.builtin.debug:
#     var: authtoken_res

- name: Set facts
  no_log: "{{ aap_api_token_no_log | default(true) | bool }}"
  ansible.builtin.set_fact:
    aap_api_token_aap_token: "{{ authtoken_res.ansible_facts.aap_token }}"
    aap_token: "{{ authtoken_res.ansible_facts.aap_token }}"
...
