---
- name: Prepare
  hosts: all
  gather_facts: false
  tasks:
    - name: Ensure system is updated
      become: true
      ansible.builtin.dnf:
        name: "*"
        state: latest
        update_cache: true

