---
- name: Pre-validation | Print on screen role execution status.
  ansible.builtin.debug:
    msg:
      - "{{ separator_char * (message_text | length + default_message_padding) | int }}"
      - " {{ message_text }} "
      - "{{ separator_char * (message_text | length + default_message_padding) | int }}"
  vars:
    message_text: "Starting Pre-Validation for Red Hat Support Update"
  run_once: true

- name: "Pre-validation | Assert required: Red Hat Access Token"
  ansible.builtin.assert:
    # Checks if the token is defined, not None, and has a length greater than zero.
    that:
      - rh_token_refresh_api_access_token is defined
      - rh_token_refresh_api_access_token is not none
      - rh_token_refresh_api_access_token | length > 0
    fail_msg: >-
      [FATAL] The Red Hat Access Token is missing or empty.
      Please ensure the 'rh_token_refresh' role executed successfully.
    success_msg: "API Access Token is successfully validated."
  run_once: true

- name: "Pre-validation | Assert required: Red Hat Case ID"
  ansible.builtin.assert:
    # Checks if the case ID is defined, not None, and has a length greater than zero.
    that:
      - case_id is defined
      - case_id is not none
      - case_id | length > 0
    fail_msg: >-
      [FATAL] The Red Hat Case ID is missing or empty.
      Please ensure the 'rh_case_create' role executed successfully and properly set the 'case_id' fact.
    success_msg: "Successfully validated target Case ID: {{ case_id }}"
  run_once: true

- name: "Pre-validation | GET '/v1/accounts/current' to retrieve Account infos"
  ansible.builtin.uri:
    url: "{{ rh_token_refresh_api_base_url }}/support/v1/accounts/current"
    method: GET
    headers:
      Authorization: "Bearer {{ rh_token_refresh_api_access_token }}"
      Accept: "application/json"
    status_code:
      - 200
    return_content: true
    validate_certs: true
    use_proxy: "{{ rh_case_update_use_proxy | default(false) }}"
  register: account_info_result
  no_log: "{{ var_no_log | default(true) | bool }}" # <--- To keep sensitive values out of Ansible output logs
  environment:
    https_proxy: "{{ rh_case_update_http_proxy }}"
    http_proxy: "{{ rh_case_update_http_proxy }}"

- name: "Pre-validation | Set facts for Account Name and Account Number Reference"
  ansible.builtin.set_fact:
    account_name: "{{ account_info_result.json.name | default('N/A') }}"
    account_number_ref: "{{ account_info_result.json.accountNumber | default('N/A') }}"
  run_once: true

- name: "Pre-validation | GET '/v1/cases' to retrieve case infos"
  ansible.builtin.uri:
    url: "{{ rh_token_refresh_api_base_url }}/support/v1/cases/{{ case_id }}"
    method: GET
    headers:
      Authorization: "Bearer {{ rh_token_refresh_api_access_token }}"
      Accept: "application/json"
    status_code:
      - 200
    return_content: true
    validate_certs: true
    use_proxy: "{{ rh_case_update_use_proxy | default(false) }}"
  register: case_info_result
  no_log: "{{ var_no_log | default(true) | bool }}" # <--- To keep sensitive values out of Ansible output logs
  environment:
    https_proxy: "{{ rh_case_update_http_proxy }}"
    http_proxy: "{{ rh_case_update_http_proxy }}"

- name: "Pre-validation | Set facts for Account Name and Account Number Reference"
  ansible.builtin.set_fact:
    case_summary: "{{ case_info_result.json.summary | default('N/A') }}"
    case_product: "{{ case_info_result.json.product | default('N/A') }}"
    case_product_version: "{{ case_info_result.json.version | default('N/A') }}"
    case_type: "{{ case_info_result.json.caseType | default('N/A') }}"
    case_severity: "{{ case_info_result.json.severity | default('N/A') }}"
    case_description: "{{ case_info_result.json.description | default('N/A') }}"
  run_once: true

- name: Pre-validation | Print on screen role pre-validation complete.
  ansible.builtin.debug:
    msg:
      - "{{ separator_char * (message_text | length + default_message_padding) | int }}"
      - " {{ message_text }} "
      - "{{ separator_char * (message_text | length + default_message_padding) | int }}"
  vars:
    message_text: "Pre-Validation for Red Hat Support Update Completed Successfully"
  run_once: true
...
