---
- name: Case Updates Loop | Print on screen role execution status.
  ansible.builtin.debug:
    msg:
      - "{{ (separator_char | default('=')) * ((message_text | length + (default_message_padding | default(4))) | int) }}"
      - " {{ message_text }} "
      - "{{ (separator_char | default('=')) * ((message_text | length + (default_message_padding | default(4))) | int) }}"
  vars:
    message_text: "Starting Comment Update for Case ID {{ case_id }}"
  run_once: true

- name: "Comment | Add comment to case {{ case_id }}"
  ansible.builtin.uri:
    url: "{{ rh_token_refresh_api_base_url }}/support/v1/cases/{{ case_id }}/comments"
    method: POST
    headers:
      Authorization: "Bearer {{ rh_token_refresh_api_access_token }}"
      Accept: "application/json"
      Content-Type: "application/json"
    body_format: json
    body:
      commentBody: "{{ case_update.comment }}"
      contentType: "{{ case_update.commentType | default('markdown') }}"
    status_code:
      - 200
    return_content: true
    validate_certs: true
    use_proxy: "{{ rh_case_update_use_proxy | default(false) }}"

  register: comment_api_result
  no_log: "{{ var_no_log | default(true) | bool }}" # <--- To keep sensitive values out of Ansible output logs

  environment:
    https_proxy: "{{ rh_case_update_http_proxy }}"
    http_proxy: "{{ rh_case_update_http_proxy }}"
  when: rh_case_update_use_proxy | default(false)

- name: Comment | Assert comment creation succeeded (HTTP 200)
  ansible.builtin.assert:
    that:
      - comment_api_result.status == 200
    success_msg: >-
      PASSED! Oh, Yes! => Comment added successfully to case {{ case_id }}! HTTP Status: {{ comment_api_result.status }}. Proceeding to next step...
    fail_msg: >-
      FAILED! Oh, No! => Failed to add comment to case {{ case_id }}!
      HTTP Status: {{ comment_api_result.status }}
      Response Body: {{ comment_api_result.content | default('N/A') }}

- name: Comment | Notify success after update/upload
  ansible.builtin.debug:
    msg: "HANDLER: Triggering final update summary display at the end for case {{ case_id }}..."
  changed_when: true
  notify: "DisplayCaseUpdateSummaryTrigger"

- name: Comment | Print on screen role comment update complete.
  ansible.builtin.debug:
    msg:
      - "{{ (separator_char | default('=')) * ((message_text | length + (default_message_padding | default(4))) | int) }}"
      - " {{ message_text }} "
      - "{{ (separator_char | default('=')) * ((message_text | length + (default_message_padding | default(4))) | int) }}"
  vars:
    message_text: "Completed Comment Update for Case ID {{ case_id }}"
  run_once: true
...
