# --- Start of roles/rh_case_create/handlers/main.yml ---
---
- name: display_case_update_summary_trigger
  ansible.builtin.debug:
    var: case_update_summary_message
  run_once: true
...
# --- End of roles/rh_case_create/handlers/main.yml ---