---
- name: Gather OpenShift Must Gather(s)
  hosts: localhost
  connection: local
  gather_facts: false
  tasks:
    - name: Call ocp_must_gather role
      ansible.builtin.include_role:
        name: ocp_must_gather

    - name: Upload Block
      when:
        - upload | default(true) | bool
      block:
        - name: Call rh_token_refresh role
          ansible.builtin.include_role:
            name: infra.support_assist.rh_token_refresh

        - name: Call rh_case role
          ansible.builtin.include_role:
            name: infra.support_assist.rh_case
...
