---
- name: Add comment(s) or attach file(s) to Red Hat Support Case
  hosts: all
  gather_facts: false
  tasks:
    - name: Call rh_token_refresh role
      ansible.builtin.include_role:
        name: infra.support_assist.rh_token_refresh

    - name: Call rh_case role
      ansible.builtin.include_role:
        name: infra.support_assist.rh_case
...
